#bt{
    text-align: left;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 5px;
    
    
    background-color: rgb(108, 144, 206);
    opacity: 0.7;
}
header{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    
}

