div{
    text-align: left;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 5px;
    
    
    background-color: rgb(108, 144, 206);
    opacity: 0.7;
}

header{
    width: 1100px;
    margin: 0 auto;
    
}

section{
    width: 1100px;
    margin: 0 auto;
    
}

#jb{
    background-color: rgb(24, 151, 103);
}

#yc{
    background-color: gray;
}

#ss{
    background-color: rgb(212, 187, 141);
}